@import "tailwindcss";
@plugin "daisyui" {
  themes: [
			{
				professionnal: {
					primary: '#BF8563',
					secondary: '#D9631E',
					accent: '#8C4830',
					neutral: '#3D4451',
					'base-100': '#FFFFFF',
					info: '#3ABFF8',
					success: '#36D399',
					warning: '#FBBD23',
					error: '#F87272'
				}
			},
			'halloween',
			{
				dark: {
					primary: '#EBF0F2',
					secondary: '#D9631E',
					accent: '#8C4830',
					neutral: '#3D4451',
					'base-100': '#121212',
					info: '#3ABFF8',
					success: '#36D399',
					warning: '#FBBD23',
					error: '#F87272'
				}
			}
		],
  darkTheme: 'halloween';
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
