@import "tailwindcss";

@plugin "daisyui" {
  themes: ["professionnal", "dark", "halloween"],
  darkTheme: "halloween",
  root: ":root",
  include: "",
  exclude: "",
  prefix: "",
  logs: true
};

@plugin "daisyui/theme" {
  [data-theme=professionnal] {
    --color-primary: #BF8563;
    --color-secondary: #D9631E;
    --color-accent: #8C4830;
    --color-neutral: #3D4451;
    --color-base-100: #FFFFFF;
    --color-info: #3ABFF8;
    --color-success: #36D399;
    --color-warning: #FBBD23;
    --color-error: #F87272;
  }
  [data-theme=dark] {
    --color-primary: #EBF0F2;
    --color-secondary: #D9631E;
    --color-accent: #8C4830;
    --color-neutral: #3D4451;
    --color-base-100: #121212;
    --color-info: #3ABFF8;
    --color-success: #36D399;
    --color-warning: #FBBD23;
    --color-error: #F87272;
  }
}; 
